.content-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
}

.caption {
    font-size: 1.2em;
    font-weight: 800;
}

.custom-btn-customer {
    width: 0px;
    color: mediumseagreen;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid var(--bs-gray-500);
}

.custom-btn-customer:hover, .custom-btn-customer:focus {
    color: white;
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
}

.custom-btn-seller {
    width: 0px;
    color: white;
    background-color: mediumseagreen;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom-btn-seller:hover, .custom-btn-seller:focus {
    color: white;
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
}
